.wishlist-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wishlist-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.wishlist-info button {
  border: none;
  background: transparent;
  border: 1px solid black;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.wishlist-info h4 {
  font-weight: 400;
}

.wishlist-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}
.wishlist-title button {
  border: none;
  background: transparent;
  border: 1px solid black;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.wishlist-card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  margin-top: 30px;
}

.cart-delete {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
}
.cart-delete .delete-icon:hover {
  color: red;
  transition: all 0.3s ease-in-out;
}
